**/.DS_Store
**/__pycache__
**/*.pyc
**/*.sqlite3*
shadowsocks_manager.egg-info
shadowsocks_manager/static
shadowsocks_manager/data
shadowsocks_manager/*/migrations/*
!shadowsocks_manager/*/migrations/__init__.py
shadowsocks_manager/.coverage
shadowsocks_manager/coverage*.xml
.idea
build
dist
install.sh
.git
