**/.DS_Store
**/__pycache__
*.pyc
*.sqlite3*
shadowsocks_manager.egg-info
shadowsocks_manager/static
shadowsocks_manager/db
shadowsocks_manager/*/migrations/*
!shadowsocks_manager/*/migrations/__init__.py
shadowsocks_manager/.ssm-env
.coverage
coverage*.xml
htmlcov
.idea
build
dist
.tox
