backports.weakref  # workaround with defect: ImportError: No module named backports
celery==4.3.0
Django==1.11.23
django-cache-lock==0.2.1
django-celery-beat==1.5.0
django-celery-results==1.1.1
django-enumfield==1.5
django-import-export==1.2.0
djangorestframework==3.9.2
python-memcached==1.59
pytz==2019.1
requests==2.22.0
