# py2.7 and py3 compatibility imports
future
six

boto3
celery
Django<4
# use the customized django-allowedsites
git+https://github.com/alexforks/django-allowedsites
django-cache-lock
# 20230202 - py2.7
python-crontab==2.6.0; python_version <= '2.7'
python-crontab; python_version > '2.7'
# 20210314 - py2.7 - workaround for: ERROR: Could not find a version that satisfies the requirement django-timezone-field<5.0,>=4.1.0 (from django-celery-beat->-r requirements.txt (line 10)) (from versions: 0.3.1, 0.3.2, 0.4, 1.0, 1.1, 1.2, 1.3, 2.0rc1, 2.0, 2.1, 3.0rc1, 3.0, 3.1)
django-celery-beat==1.6.0; python_version <= '2.7'
django-celery-beat; python_version > '2.7'
# 20210917 - py2.7 - workaround for: ERROR: django-celery-results 2.2.0 requires celery<6.0,>=5.0, but you'll have celery 4.4.7 which is incompatible.
django-celery-results==2.0.1; python_version <= '2.7'
django-celery-results; python_version > '2.7'
# 20220622 - py2.7 - workaround for: ImportError: No module named enum
django-enumfield<3.0; python_version <= '2.7'
django-enumfield; python_version > '2.7'
# 20210314 - py2.7 - workaround for: SyntaxError: invalid syntax: File "/Users/alex/.pyenv/versions/ssm/lib/python2.7/site-packages/django_filters/filterset.py", line 184
# https://github.com/carltongibson/django-filter/issues/954
django-filter~=1.1; python_version <= '2.7'
django-filter; python_version > '2.7'
django-import-export
djangorestframework
# ipaddress is available since Python 3.3
ipaddress; python_version < '3.3'
psutil
python-memcached==1.59; python_version <= '2.7'
python-memcached; python_version > '2.7'
pytz
requests
shadowsocks
uWSGI
